.normal-text {
    font-size: 18px;
}

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: red;
  color: white;
}

.links {
    font-size: 18px;
    color: #fef0ff;

#two {
  position: relative;
  top: 20px;
  left: 20px;
  background: blue;
}
